$color--primary1:  hsl(0, 0%, 17%); //Very Dark Grey
$color--primary2: hsl(0, 0%, 59%); //Dark Gray == rgb(150, 150, 150)
$color--secondary: rgba(150, 150, 150, 0.3);


$font--family: 'Rubik', sans-serif;
$font--size: 18px;

$tablet__breakpoint: 768px;
$small-desktop__breakpoint: 1280px;
$big-desktop__breakpoint: 1440px;